﻿body {
    padding: 0% 30%;
}

.FizzBuzzApp {
    width: 800px;
    margin: 0 auto;
}

    .FizzBuzzApp input[type=submit] {
        margin-top: 10px;
        border-radius: 5px;
        border:solid 1px;
        height: 25px;
    }

.fizzbuzzList p {
    display: inline;
}

.fizzbuzzList ul {
    list-style: none;
}

.validationMsg {
    color: red;
}

.fizz {
    color: blue;
}

.buzz {
    color: green;
}
