﻿@{
    ViewBag.Title = "Fizz Buzz Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FizzBuzzApplication.Models.FizzBuzzModel
@using PagedList.Mvc;
<div class="FizzBuzzApp">
    <div>
        <h2>Fizz Buzz Application</h2>
        @using (@Html.BeginForm("GetList", "FizzBuzz", FormMethod.Get))
        {
            <div>
                @Html.ValidationSummary(true)
                <div>
                    <div>
                        @Html.LabelFor(m => m.Number)
                        @Html.TextBoxFor(m => m.Number)
                        @Html.ValidationMessageFor(m => m.Number, "", new { @class = "validationMsg" })
                    </div>
                    <div>
                    </div>
                </div>
                <input type="submit" value="Get List" />
            </div>
        }
    </div>
    <div class="fizzbuzzList">
        @if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Any())
        { 
            <ul>
                @foreach (var item in Model.FizzBuzzList)
                {
                    <li>
                        @FizzBuzzHelpers.ApplyStyleByWord(item)
                    </li>
                }
            </ul>
            <p>
                @Html.PagedListPager((Model.FizzBuzzList), page => Url.Action("GetList", new { Page = page, Number = Model.Number }), PagedList.Mvc.PagedListRenderOptions.ClassicPlusFirstAndLast)
            </p>
        }
    </div>
</div>
